body{
	background-color:;
	width:100%;
	height:auto;
	background-image:url("back.png");
	margin:0px;
}
#main{
	width:100%;
	height:auto;
	position:relative;
	overflow:auto;
}
#header{
	position:fixed;
	width:100%;
	height:150px;
	margin-top:0px;
	z-index:99;
	
}
#compid{display:none;}
#logo{
	width:150px;
	height:150px;
border-right-style:solid;
border-right-color:black;
border-right-width:5px;
float:left;
}
#header_pic{
	width:1000px;
	height:150px;
	float:left;
	z-index:99;
}
.footer{
font-size:22px;
	width:100%;
	height:50px;
	background:green;
	color:black;
	text-align:center;
	padding-top:10px;
	margin-top:px;
position:;

}
ul {
    list-style-type: none;
    margin-top:150px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	clear:both;
	z-index:99;
}
.complaint-table-img{
	width: 100px;
	height: 100px;
}
li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}
/* this is for dropdown that appears on hovering the mouse over particular menu item*/
.dropdown-content {
    display:none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
	height:auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding-left: 10px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color:#ccffff;}

.dropdown:hover .dropdown-content {
    display: block;
	background-color:#ccccff;
}
#content{
	position:reltive;
	margin-top:250px;
	margin-left:250px;
	width:700px;
	background-color:#999966;
}
legend {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
}